body {
    height: 1000px;
    width: 1000px;
    margin: auto;
    display: flex;
}

.consola {
    /* display: flex; */
    background-color: yellow;
    margin: auto;
    height: 850px;
    width: 520px;
    border-top-left-radius: 3%;
    border-top-right-radius: 3%;
    border-bottom-left-radius: 6%;
    border-bottom-right-radius: 6%;
    border: solid black 1px;
    box-shadow: 20px 30px 30px rgba(0, 0, 0, 0.247);    
}


.top {
    /* display: flex; */
    background: black;
    border: solid black 1px;
    height: 400px;
    width: 469px;
    margin: 25px;
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
    border-bottom-left-radius: 6%;
    border-bottom-right-radius: 6%;
}

#power {
    position: absolute;
    top: 230px;
    color: grey;
    font-size: medium;
    margin: 10px;
    
}

.screen {
    /* display: flex; */
    height: 250px;
    width: 300px;  
    margin: 30px 80px auto auto;
    background: grey;
    border: solid black 1px;
    

}

#gameboy {
    position: relative;
    top: 335px;
    left: 100px;
    color: grey;
    font-size: xx-large;
    
}

#c {
    position: relative;
    top: 335px;
    left: 105px;
    color: red;
    font-size: xx-large;
}

#o {
    position: relative;
    top: 335px;
    left: 100px;
    color: blue;
    font-size: x-large;
}

#l {
    position: relative;
    top: 335px;
    left: 95px;
    color:greenyellow;
    font-size: xx-large;
}

#oo {
    position: relative;
    top: 335px;
    left: 90px;
    color: yellow;
    font-size: x-large;
}

#r {
    position: relative;
    top: 335px;
    left: 85px; 
    color: blue;
    font-size: xx-large;
}


.nintendo {
    text-align: center;
    width: 160px;
    position: relative;
    left: 180px;
    color:rgba(31, 31, 158, 0.403) ;
    border: solid rgba(31, 31, 158, 0.403) 2px;
    border-radius: 20px;
    font-size: x-large;
}