body {
    height: 1000px;
    width: 1000px;
    margin: auto;
    display: flex;
}

.consola {
    display: flex;
    background-color: yellow;
    margin: auto;
    height: 850px;
    width: 520px;
    border-top-left-radius: 3%;
    border-top-right-radius: 3%;
    border-bottom-left-radius: 6%;
    border-bottom-right-radius: 6%;
    border: solid black 1px;
    box-shadow: 20px 30px 30px rgba(0, 0, 0, 0.247);    
}


.top {
    display: flex;
    background: black;
    border: solid black 1px;
    height: 400px;
    width: 469px;
    margin: 25px;
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
    border-bottom-left-radius: 6%;
    border-bottom-right-radius: 6%;
}

#power {
    position: absolute;
    top: 200px;
    color: grey;
    /* display: flex;
    align-items: center; */
    font-size: medium;
    
}

.screen {
    display: flex;
    height: 250px;
    width: 325px;  
    margin: 60px 65px auto auto;
    background: grey;
    border: solid black 1px;
    

}

#gameboy {
    position: absolute;
    top: 58vh;
    left: 40vw;
    color: grey;
    display: flex;
    align-items: center;
    font-size: xx-large;
    
}

#c {
    position: absolute;
    top: 380px;
    right: 895px;
    color: red;
    font-size: xx-large;
}

#o {
    position: absolute;
    top: 388px;
    right: 880px;
    color: blue;
    font-size: x-large;
}

#l {
    position: absolute;
    top: 380px;
    right: 850px;
    color:greenyellow;
    font-size: xx-large;
}

#oo {
    position: absolute;
    top: 380px;
    right: 850px;
    color: yellow;
    font-size: x-large;
}

#r {
    position: absolute;
    top: 380px;
    right: 850px; 
    color: blue;
    font-size: xx-large;
}


#algo {
    position: absolute;
    top: 10px;
    color: grey;
}