body {
    height: 1000px;
    width: 1000px;
    margin: auto;
    display: flex;
}

.consola {
    /* display: flex; */
    background-color: yellow;
    margin: auto;
    height: 850px;
    width: 520px;
    border-top-left-radius: 3%;
    border-top-right-radius: 3%;
    border-bottom-left-radius: 6%;
    border-bottom-right-radius: 6%;
    border: solid black 1px;
    box-shadow: 20px 30px 30px rgba(0, 0, 0, 0.247);    
}

/* Parte superior de la consola */

.top {
    /* display: flex; */
    background: black;
    border: solid black 1px;
    height: 400px;
    width: 469px;
    margin: 25px;
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
    border-bottom-left-radius: 6%;
    border-bottom-right-radius: 6%;
}

#power {
    position: relative;
    top: 130px;
    right: 10px;
    color: grey;
    font-size: medium;
    
}

.screen {
    /* display: flex; */
    height: 250px;
    width: 300px;  
    margin: 30px 80px auto auto;
    background: grey;
    border: solid black 1px;
    

}

#gameboy {
    position: relative;
    top: 335px;
    left: 20px;
    color: grey;
    font-size: xx-large;
    
}

#c {
    position: relative;
    top: 335px;
    left: 25px;
    color: red;
    font-size: xx-large;
}

#o {
    position: relative;
    top: 335px;
    left: 20px;
    color: blue;
    font-size: x-large;
}

#l {
    position: relative;
    top: 335px;
    left: 15px;
    color:greenyellow;
    font-size: xx-large;
}

#oo {
    position: relative;
    top: 335px;
    left: 10px;
    color: yellow;
    font-size: x-large;
}

#r {
    position: relative;
    top: 335px;
    left: 5px; 
    color: blue;
    font-size: xx-large;
}

#luzpower {
    position: relative;
    top: 114px;
    left: 10px;
    color: red;
    font-size: x-large;
}

/* Mitad de la consola */

.nintendo {
    text-align: center;
    width: 160px;
    position: relative;
    left: 180px;
    color:rgba(31, 31, 158, 0.403) ;
    border: solid rgba(31, 31, 158, 0.403) 2px;
    border-radius: 20px;
    font-size: x-large;
}

/* Botones de dirección */



.arriba {
    position: relative;
    bottom: 30px;
    left: 90px;
    font-size: 50px;
    color: rgb(24, 24, 24);
    background-color: rgb(58, 58, 58);
    height: 70px;
    width: 50px;
    /* border: solid black 1px; */
    
}

.izquierda {
    position: relative;
    bottom: 30px;
    left: 35px;
    font-size: 50px;
    color: rgb(24, 24, 24);
    background-color:  rgb(58, 58, 58);
    height: 70px;
    width: 150px;
    /* border: solid black 1px; */
}

.abajo {
    position: relative;
    bottom: 35px;
    left: 90px;
    font-size: 50px;
    color: rgb(24, 24, 24);
    background-color: rgb(58, 58, 58);
    height: 70px;
    width: 50px;
    /* border: solid black 1px; */
}

.derecha {
    position: relative;
    bottom: 170px;
    left: 150px;
    font-size: 50px;
    color: rgb(24, 24, 24);
    background-color: rgb(58, 58, 58);
    height: 70px;
    width: 50px;
    /* border: solid black 1px; */
    
}

.circulo {
    position: relative;
    bottom: 240px;
    left: 100px;
    font-size: 50px;
    color: rgb(24, 24, 24);
    background-color: rgb(58, 58, 58);
    height: 70px;
    width: 30px;
    
}

/* Botones A y B */

.letras {
    position: relative;
    height: 200px;
    width: 200px;
    bottom: 300px;
    left: 420px;
}

#a {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 60px;
    width: 60px;
    top: 1px;
    border: solid black 1px;
    border-radius: 50%;
    font-size: xx-large;
    color: rgb(24, 24, 24);
    background-color: rgb(58, 58, 58);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}

#b {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 60px;
    width: 60px;
    top: 1px;
    right: 80px;
    border: solid black 1px;
    border-radius: 50%;
    font-size: xx-large;
    color: rgb(24, 24, 24);
    background-color: rgb(58, 58, 58);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);  
}

.botonesinf {
    position: relative;
    bottom: 300px;
    left: 190px;
    height: 15px;
    width: 60px;
    text-align: center;
    border-radius: 40px;
    border: black solid 1px;
    background-color: rgb(58, 58, 58);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}

#select {
    margin-top: 30px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

#start {
    position: relative;
    bottom: 66px;
    left: 90px;
    height: 15px;
    width: 60px;
    text-align: center;
    border-radius: 40px;
    border: black solid 1px;
    background-color: rgb(58, 58, 58);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}

#start2 {
    margin-top: 30px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.puntos {
    position: relative;
    bottom: 370px;
    left: 180px;
    text-align: center;
    font-size:x-large;
    font-weight: bold;
    text-shadow:1px 1px 1px rgba(0, 0, 0, 0.4);
    transform: rotate(-10deg);
}